<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Courts</title>
    <!--    bootstrap included-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="~{fragments/sidebar :: sidebarFragment}">
        </div>

        <div class="col py-3">
            <div class="container mt-3">
                <h2 align="center">Cases</h2>
                <hr/>
                <a th:href="@{/addCourt}" class="btn btn-primary btn-lg mb-3">Add Court</a>
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th>Court Name</th>
                        <th>Court Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="court : ${courtList}">
                        <td th:text="${court.name}"></td>
                        <td th:text="${court.address}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>